<h1>Kirchenbingo</h1>
<h2>Fragebogen:</h2>
  <h3> 1. Ist das Gebäude eher stadtprägend, quartierprägend, stadtprägend und
  quartierprägend oder nicht prägend? </h3>
  <form [formGroup]="statistik">
    <div class="formgroup">
      <label>
        <input type="radio" value="cityFormative" formControlName="formative"> stadtprägend
      </label>
      <label>
        <input type="radio" value="quaterFormative" formControlName="formative"> quartierprägend
      </label>
      <label>
        <input type="radio" value="quaterCityFormative" formControlName="formative"> stadtprägend und
  quartierprägend
      </label>
      <label>
        <input type="radio" value="notFormative" formControlName="formative"> nicht prägend
      </label>
  </div>
  <br />
  <h3> 2. Gibt es in unmittelbarer Umgebung eine oder meherere der folgenden Funktionen? </h3>
  <div formGroupName="anliegendeNutzungen">
      <label>
        <input type="checkbox" formControlName="schule"> Schule
      </label>
      <label>
        <input type="checkbox" formControlName="altenheim">Altenheim
      </label>
      <label>
        <input type="checkbox" formControlName="schwimmbad">Schwimmbad
      </label>
      <label>
        <input type="checkbox" formControlName="sportplatz"> Sportplatz
      </label>
      <label>
        <input type="checkbox" formControlName="gruenflaeche"> Grünfläche
      </label>  
  </div>
  <br />
  <h3> 3. In Bearbeitung </h3>
  <br />
  <h3> 4. In Bearbeitung </h3>
  <br />
  <h3> 5. In Bearbeitung </h3>
  <br />
    <h3> 6. In welchem Zustand ist die Bausubstanz des Gebäudes? </h3>
  <div>
      <label>
        <input type="radio" value="Gut" formControlName="bausubstanz"> Gut
      </label>
      <label>
        <input type="radio" value="Schlecht" formControlName="bausubstanz">Schlecht
      </label>
      <label>
        <input type="radio" value="SehrSchlecht" formControlName="bausubstanz">Sehr Schlecht
      </label>
  </div>
  <h3> Wie hoch ist der Altersquotient im Quartier? </h3>
  <div>
    <input type="number" formControlName="altersquotient"/>
  </div>
  <br />
  <button type="button" [disabled]="!statistik.valid" (click)="calcUtilizations()">Berechne Nutzungen</button>
</form>


<h2>Mögliche Nutzungen</h2>
  @for (utilization of utilizations; track $index) {
  <p>
    @if (utilization.strike) {
      <s>{{ utilization.label }}</s>
    } @else {
      <span>{{ utilization.label + " " + utilization.prio}}</span>
    }
  </p> 
}